{% extends "skeliton.html" %}
{% block title %}Feedback{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="author" content="Raj Singh" >
    <meta name="discription" content="page for taking user feedback" >
{% endblock %}
{% block body %}
    <form action="{{url_for('index')}}" method="post">
        <fieldset>
            <legend>Send Feedback</legend>
            {{form.hidden_tag()}}
            <label for="email">
            {{form.email.label}} <br>{{form.email(disabled="disabled")}}
            </label><br><br>
            {% if error %}
                <label for="error">
                {{form.errorCode.label}} <br>{{form.errorCode(value=error,disabled="disabled")}}
                </label><br><br>
            {% endif %}
            <label for="feedback">
            {{form.feedBack.label}} <br> {{form.feedBack(placeholder="Type your Message Here",rows="10",cols=40)}}
            </label>
            
        </fieldset>
        {{form.submit()}}
    </form>
{% endblock  %}